.details {
	.mask {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background-color: rgba(0,0,0,0.7);

	}
	.tab-bar {
		font-size: r(16);
		display: flex;
		border-bottom: 1px solid #f0f0f0;
		margin-top: r(64);

		.tab-item {
			height: r(45);
			line-height: r(45);
			flex: 1;
			position: relative;
			color: #666;
			text-align: center;
			&.active {
				&:after {
					content: "";
					height: r(4);
					width: r(60);
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background-color: #ffd161;
				}
			}	
		}
	}

}