.order {
	.header {
		width: 100%;
		height: r(64);
		background-color: #fff;
		border-bottom: r(1) solid #b2b2b2;
		font-size: r(17);
		color: #333;
		text-align: center;
		line-height: r(64);
		font-weight: bold;
	}
	
}